.textfield {
    width: 100%;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #EFEFEF;
    font-family: 'Poppins';
    font-size: 16px;
    color: #666666;
}
