.landingPage-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.landingPage-header {
    flex: 0 0 auto;
    padding: 20px;
    text-align: left;
}

.landingPage-view-app-title {
    font-size: 1.5em;
    color: #FF9B82;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.landingPage-main {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landingPage-footer {
    flex: 0 0 auto;
    padding: 20px;
    text-align: center;
}

.landingPage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;  /* or any other desired background color */
}

.centered{             /*This will center the buttons*/
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* .LandingButtons{
    background-color: '#82c3ff';
    
}
.registrationButton{
    background-color: '#d782ff';
    width: '120px';
    height: '40px';
    font-family: 'Trebuchet MS';
    border-radius: '15px';
    margin-bottom: '10px';
    color: 'white';
}

.LoginButton{
    width: '120px';
    height: '40px';
    font-family: 'Trebuchet MS';
    border-radius: '15px';
    margin-bottom: '10px';
    color: 'white';
} */

.login-view-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}

.login-view-header {
    flex: 0 0 auto;
    padding: 20px;
    text-align: left;
}

.login-view-app-title {
    font-size: 1.5em;
    color: #FF9B82;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.login-view-footer {
    flex: 0 0 auto;
    padding: 20px;
    text-align: center;
}

.login-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;  /* or any other desired background color */
}