.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 1rem; /* Adjust the padding */
    background-color: transparent;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    color: #ff9b82;
	font-size: 1.5rem; /* Adjust the font size  */
	font-family: "Impact", fantasy;
	zindex: 0;
	
}
.header > div:first-child {
    font-weight: bold;
    font-size: 3rem; /* Adjust the font size  */
	 margin-right: -15%;
	 margin-left: 0px;
	 
}



.searchbar-container {
    width: 25%;
    display: flex;
    align-items: center;
    border-radius: 150px;
	margin-right: 2rem;
	height: 2rem;
	
	
	
	
}





.header a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.profile-menu {
  display: flex;
  align-items: center;
  
}

.profile-menu span {
  margin-right: 1rem; /* Adjust the spacing as needed */
  cursor: pointer;
}

.logo-container {
  display: fixed;
  align-items: center;
}

.logo-container div {
  font-weight: bold;
  font-size: 28px;
  margin-right: 50px;
  display: fixed;
}