.image{
	backgroundImage: 'url("C:\Users\sinis\Documents\GitHub\SuppliShare\frontend\src\views\image0.jpg")', 
        backgroundSize: 'cover',
        backgroundPosition: 'center',
        backgroundRepeat: 'repeat', 
        flexDirection: 'column',
        alignItems: 'center',
        justifyContent: 'center',
		background-attachment: fixed; 
}