* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.navigationHeight{
	height: 100%;
	
	top: 0;
	
}

.nav,
.navdonor,
.navteacher {
  background-color: White;
  color: white;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: -2.3rem;
  color: black;
  display: flex;
  flex-flow: column;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  
}

.nav a,
.navdonor a,
.navteacher a{
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  
  
  padding: 0.5rem;
  padding-right: none;
  padding-left: none;
  left: 100%;
  
  
  
  
  
}

.nav ul
.navdonor ul,
.navteacher ul {
  margin: 0;
  list-style: none;
  height: 100%;
  display: flex;
  flex-flow: column;
  

  
  
  
}
.nav li
.navdonor li,
.navteacher{
	padding-top: 0.75rem;
}


.nav li:hover,
.nav li a:active,
.navdonor li:hover,
.navdonor li a:active,
.navteacher li:hover,
.navteacher li a:active {
  background-color: #ff724f;
}
.BiSolidDashboard,
.BiSolidUser,
.BiFlag,
.BiSolidReport,
.BiCog{
	padding-top: 0.2rem;
	
	color: black;
}


	

