input,
button {
  padding: 7px;
  display: block;
  margin: 15px 0 0 0;
  border-radius: 4px;
  border: 1px solid #999;
  width: 300px;
}

button {
  width: auto;
}

.err {
  margin: 4px 0 0 0;
  font-size: 13px;
  color: #e64646;
}

.Home-header {
    background-color: #658ad4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 2rem;
  }

  .Settings-hub{
    background-color: #658ad4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 2rem;
  }

  .Edit-Email{
    background-color: #658ad4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 2rem;
  }

  .Edit-Zipcode{
    background-color: #658ad4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 2rem;
  }
  .Edit-Passwrd{
    background-color: #658ad4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 2rem;
  }

  .Edit-School{
    background-color: #658ad4;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-size: 2rem;
  }