.dashboard-container {
  display: flex;
  flex-direction: column;
}

.dashboard-container .dashboard-paper {
  padding: 20px;
  margin-left: 15%;
  background-color: #ff724f;
  color: darkred;
  
}

.dashboard-paper {
  margin-bottom: 1%;
  margin-top: 1%;
}

.dashboard-container .dashboard-paper:hover .dashboard-typography {
  color: #ff724f; /* Change color on hover */
}
.dashboard-container .dashboard-paper:hover {
  background-color: #4f84ff;

}

.dashboard-container .dashboard-typography {
  color: darkred;
}