<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://supplishareblobstorage.blob.core.windows.net/static/Susi.css"
      rel="stylesheet"
      type="text/css"
      data-preload="true"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://supplishareblobstorage.blob.core.windows.net/static/Susi.js"
      defer
    ></script>
  </head>
  <body>
    <div class="page-background">
      <div class="combined-container">
        <div class="logo-container">
          <div className="logo">
            <img
              src="https://supplishareblobstorage.blob.core.windows.net/static/assets/brand-logo.png"
              alt="Logo"
            />
          </div>
        </div>
        <div class="login-container">
          <div class="login-box">
            <div id="api"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
