.btn {
    font-family: 'Poppins';
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 25px;
}

.btn.medium {
    padding: 10px 20px;
    font-size: 16px;
}

.btn.small {
    padding: 5px 10px;
    font-size: 14px;
}

.btn.large {
    padding: 15px 30px;
    font-size: 18px;
}

.btn.primary {
    background-color: #FF9B82;
    color: white;
    font-weight: 600;
}

.btn.secondary {
    background-color: #EFEFEF;
    color: #666666;
    font-weight: 400;
}
