.header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
}

.logo img {
  height: 40px;
}

.search-bar-container {
  margin-top: auto;
  width: 50%;
}

.login-button button {
  padding: 10px 20px;
  background-color: #f89033;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0px 5px black;
  transition: all 0.3s ease;
}

.login-button button:hover {
  background-color: #ff9f57;
  box-shadow: 0 5px 15px black;
  transform: translateY(2px);}

.login-button button:active {
  background-color: #ec7c1f;
  box-shadow: 0 2px 5px black;
  transform: translateY(1px);
}

