.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 55px;
}

.imageItem {
  width: 200px;
  height: 200px;
  transition: transform 0.3s;
  overflow: hidden;
}

.imageItem:hover {
  transform: scale(1.1); 
}

.imageItem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: grey;
  height: 300px;
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 6px;
  border-color: lightslategray;
}

/* #dropzoneEditor {
  height: 75%;
  width: 100%;
} */

.plus-sign {
  
  font-size: 150px; 
  color: #fff;
  width: 75%;
  height: 75%;
}

.DropzoneText{
  font-family: fantasy;
}