

.imageGriddy {

  outline: 10px;
  outline-style: inset;
  outline-color: orange;
  display: flex;
  justify-content: center;
  /* Align items horizontally to the center */
  align-items: center;
  margin: auto;

}

.titleContainer {
  /* Occupy full width */
  color: #f89033;
  margin: 10%;
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  position: relative;

}


.imageGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust minmax values */
  outline: 10px;
  outline-style: inset;
  outline-color: orange;
  margin: auto;
  position: relative; /* Add position relative to the grid container */
  height: 800px;
}

.imageItem {
  width: 200px;
  height: 200px;
  
  position: absolute;
}

.imageItem img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease, margin-top 0.3s ease; /* Added margin-top transition */
  
}

.imageItem:hover img {
  transform: scale(1.1);
  margin-top: -20px; /* Adjust the overlap distance as needed */
  box-shadow: 0 4px 15px black;
}

.dropzone {
  border: 4px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  background-color: grey;
  height: 25%;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 


.plus-sign {
  font-size: 60px;
  color: #fff;
  width: 75%;
  height: 75%;
}

.modal {
  display: block;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 98%;
  height: 100%;

}

.modal-content img {
  width: auto;
  height: auto;
  transform-origin: center center;
  transition: transform 0.3s;
}

.modal-content img:hover {
  transform: scale(1.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submitted-data {
  margin-top: 20px;
  padding: 10px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
}

.submitted-data h3 {
  font-size: 1.2rem;
  color: #333;
}

.submitted-data p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.Box {
  background-color: red;
  display: flex;
  width: 800px;
  height: 250px;
  position: absolute;
  align-items: center;
  z-index: -10;
}

.post-details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* Adjust the height as needed */
}

.post-details-content {
  text-align: center;

}

.Title {
  font-family: Impact, sans-serif;
  font-size: xx-large
}

table,
td,
tr {
  border: 1px solid;
  padding: 6px;
  border-color: #ff724f
}

th {
  background-color: #04AA6D;
  color: white;
  text-align: center;
}

td {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

/* This is supposed to make every other line in the table a shade of grey */
/* tr:nth-child(even) {  
  background-color: #d3d3d3;
} */

tr:hover {background-color: coral;} 

table {
  width: 549px;
  height: 140px;
  border-collapse: collapse;
}

.detailsPic {

  width: 550px;
  height: 450px;
  transition: transform 0.3s;
  overflow: hidden;
  margin: auto;
  align-items: center;

}

.detailsPic :hover {
  transform: scale(1.1);
  margin: auto;
  box-shadow: 0 4px 15px black;
  display: block;

}

.detailsPic img {
  width: 100%;
  height: 100%;
  object-fit: fit;
  margin: auto;


}

.InfoForm{
  position: absolute;
  top: 400px;
  left: 290px;
}

.ItemNameField{
  margin-bottom: 10px;
}

.DescrField{
  margin-bottom: 10px;
}

.imageItem:hover img {
  transform: scale(1.1);
  margin-top: -20px; /* Adjust the overlap distance as needed */
  box-shadow: 0 4px 15px black;
}