name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
    paths:
      - 'templates/**' # Track changes in the 'templates' folder
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  build_and_deploy_job:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Build and Deploy Job
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
          lfs: false
      - name: Build And Deploy
        id: builddeploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_SAND_064843B10 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          app_location: "/frontend"
          api_location: "/backend"
          output_location: "build"
          action: "upload"
          app_build_command: 'npm run build' 
        env:
          REACT_APP_CLIENT_ID: ${{ secrets.REACT_APP_CLIENT_ID}}
          REACT_APP_AUTHORITY: ${{ secrets.REACT_APP_AUTHORITY}}
          REACT_APP_KNOWN_AUTHORITIES:  ${{ secrets.REACT_APP_KNOWN_AUTHORITIES}}
          REACT_APP_REDIRECT_URI:  ${{ secrets.REACT_APP_REDIRECT_URI}}


  upload_to_blob:
    if: github.event_name == 'push' && contains(github.event.head_commit.modified, 'templates/')
    runs-on: ubuntu-latest
    name: Upload to Azure Blob Storage
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Upload to Azure Blob Storage
        run: |
          az storage blob upload-batch -s templates -d ${{ secrets.BLOB_CONTAINER_NAME }} --account-name ${{ secrets.STORAGE_ACCOUNT_NAME }}

  close_pull_request_job:
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_GRAY_SAND_064843B10 }}
          action: "close"
